
//typeface for tittles

@mixin typeface-1($size, $device: desktop) {
    font-family: 'Poppins', sans-serif;
    
    //h1
    @if $size == h1 and $device == desktop  {
        font-size: 2.5rem;
        line-height: 100%;
    } 
    @else if $size == h1 and $device == mobile  {
        font-size: 1.5rem;
        line-height: 110%;
    }

    //h2
    @else if $size == h2 and $device == desktop  {
        font-size: 2.0rem;
        line-height: 100%;
    } 
    @else if $size == h2 and $device == mobile  {
        font-size: 1.5rem;
        line-height: 110%;
    }

    //h3
    @else if $size == h3 and $device == desktop  {
        font-size: 2rem;
        line-height: 100%;
    } 
    @else if $size == h3 and $device == mobile  {
        font-size: 1.5rem;
        line-height: 110%;
    }
}

@mixin typeface-2($size: p2, $device: desktop) {
    font-family: 'Heebo', sans-serif;

    //p1
    @if $size == p1 and $device == desktop  {
        font-size: 1.5rem;
        line-height: 130%;
    } 
    @else if $size == p1 and $device == mobile  {
        font-size: 1.5rem;
        line-height: 130%;
    }

    //p2
    @if $size == p2 and $device == desktop  {
        font-size: 1rem;
        line-height: 140%;
    } 
    @else if $size == p2 and $device == mobile  {
        font-size: 1rem;
        line-height: 150%;
    }
}


h1 {
    color: $primary-black;
    font-weight: 300;
    @include typeface-1(h1, desktop);

    @include responsive(s) {
        @include typeface-1(h1, mobile);
    }
    
}

h2 {
    color: $primary-black;
    font-weight: 400;
    @include typeface-1(h2, desktop);

    @include responsive(s) {
        @include typeface-1(h2, mobile);
    }
    
}
h3 {
    color: $primary-black;
    font-weight: 600;
    @include typeface-1(h3, desktop);

    @include responsive(s) {
        @include typeface-1(h3, mobile);
    }
    
}


p {
    @include typeface-2(p2, desktop);
    
    @include responsive(s) {
        @include typeface-2(p2, mobile);
    }
}