*, *::after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
}

.gradient-blue {
  background: linear-gradient(270deg, #0155CF 5.68%, #0070CC 100%);
}

h1 {
  color: #17181A;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 110%;
  }
}

h2 {
  color: #17181A;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 110%;
  }
}

h3 {
  color: #17181A;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 110%;
  }
}

.ps-slider {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin-top: calc(15vh - 20px);
}
@media screen and (max-width: 960px) {
  .ps-slider {
    margin-top: calc(15vh - 2rem);
  }
}
.ps-slider .ps-slider-view {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 60vh;
}
.ps-slider .ps-slider-view .slider-content {
  opacity: 0;
  transition: 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.ps-slider .ps-slider-view .slider-content .background {
  width: 100vw;
  height: 100%;
}
.ps-slider .ps-slider-view .slider-content .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}
.ps-slider .ps-slider-view .slider-content.active {
  opacity: 1;
  z-index: 4;
}
.ps-slider .ps-slider-view .slider-content.active .info h3,
.ps-slider .ps-slider-view .slider-content.active .info p,
.ps-slider .ps-slider-view .slider-content.active .info .btn {
  opacity: 1;
  transform: translate(0, 0);
}
.ps-slider .ps-slider-view .slider-content .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 4rem;
  z-index: 150;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ps-slider .ps-slider-view .slider-content .info h3 {
  color: #FCFEFF;
  opacity: 0;
  transform: translate(0, 5rem);
  transition: 0.3s ease;
}
.ps-slider .ps-slider-view .slider-content .info p {
  color: #FCFEFF;
  opacity: 0;
  transform: translate(0, 5rem);
  padding: 16px 0;
  transition: 0.4s ease;
}
.ps-slider .ps-slider-view .slider-content .info .btn {
  opacity: 0;
  transform: translate(0, 5rem);
  transition: 0.5s ease;
}
.ps-slider .ps-slider-preview {
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .ps-slider .ps-slider-preview {
    gap: 8px;
  }
}
@media screen and (max-width: 960px) {
  .ps-slider .ps-slider-preview {
    gap: 4px;
  }
}
.ps-slider .ps-slider-preview .preview-element {
  display: flex;
  align-items: center;
  width: 244px;
  height: 137px;
  position: relative;
  border: 3px solid #FCFEFF;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 0.8;
  border-radius: 20px;
  transition: 0.4s ease;
  box-shadow: 0px 0px 0px 2px rgba(1, 83, 207, 0);
}
@media screen and (max-width: 960px) {
  .ps-slider .ps-slider-preview .preview-element {
    width: 150px;
    border-radius: 20px;
    height: 90px;
  }
}
@media screen and (max-width: 540px) {
  .ps-slider .ps-slider-preview .preview-element {
    width: 100px;
    border-radius: 3px;
    height: 50px;
  }
}
.ps-slider .ps-slider-preview .preview-element:hover {
  border: 3px solid #FCFEFF;
  box-shadow: 0px 0px 0px 2px #0155CF;
  filter: drop-shadow(0px 7px 4px rgba(2, 7, 26, 0.25));
  opacity: 1;
  border-radius: 20px;
  transform: translateY(-2%);
}
@media screen and (max-width: 960px) {
  .ps-slider .ps-slider-preview .preview-element:hover {
    border-radius: 10px;
  }
}
@media screen and (max-width: 540px) {
  .ps-slider .ps-slider-preview .preview-element:hover {
    border-radius: 4px;
  }
}
.ps-slider .ps-slider-preview .preview-element.active {
  border-radius: 20px;
  border: 3px solid #FCFEFF;
  box-shadow: 0px 0px 0px 2px #0155CF;
  opacity: 1;
}
@media screen and (max-width: 540px) {
  .ps-slider .ps-slider-preview .preview-element.active {
    border-radius: 4px;
    border: 1px solid #FCFEFF;
  }
}
.ps-slider .ps-slider-preview .preview-element.active .min-pic-btn img {
  -webkit-animation: bounce 250ms ease forwards;
          animation: bounce 250ms ease forwards;
}
.ps-slider .ps-slider-preview .preview-element.active::after {
  -webkit-animation: progress 5.1s linear;
          animation: progress 5.1s linear;
  opacity: 1;
}
.ps-slider .ps-slider-preview .preview-element::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: rgba(11, 55, 185, 0.596);
  left: 0;
  top: 0;
  opacity: 0;
  opacity: 350ms opacity ease-in-out;
  z-index: 10;
}
.ps-slider .ps-slider-preview .preview-element .min-pic-btn {
  width: 90px;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  position: absolute;
  pointer-events: none;
}
@media screen and (max-width: 540px) {
  .ps-slider .ps-slider-preview .preview-element .min-pic-btn {
    width: 35px;
  }
}

.p-bg-1 {
  background-image: url(".././/./../img/tlou.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.p-bg-2 {
  background-image: url(".././/./../img/spiderman.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.p-bg-3 {
  background-image: url(".././/./../img/gow.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.p-bg-4 {
  background-image: url(".././/./../img/horizonZD.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-bg-5 {
  background-image: url(".././/./../img/overwatch.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

.none {
  display: none;
}

body {
  background-color: #FCFEFF;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
@media screen and (max-width: 1140px) and (min-width: 960px) {
  body {
    background-color: aquamarine;
  }
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid #0095ff;
}

.relative {
  position: relative;
}

#header {
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
}
#header .header-row {
  align-items: center;
  display: flex;
  background-color: #FCFEFF;
  justify-content: space-between;
  padding: 25px 30px;
  transition: 0.4s ease;
}
@media screen and (max-width: 960px) {
  #header .header-row {
    padding: 15px;
  }
}

.header-row.active-header {
  background-color: #FCFEFF;
  padding: 15px 30px !important;
}

.header-row.bg-transparent {
  background-color: transparent !important;
}

.brand-logo {
  height: auto;
  width: 40px;
}

.menu-toggle {
  background: transparent;
  cursor: pointer;
}

.hamburger path {
  fill: none;
  stroke: #0070CC;
  stroke-linecap: square;
}

.hamburger.active path {
  fill: none;
  stroke: #FCFEFF;
  stroke-linecap: square;
}

.desktop-menu-header {
  align-items: center;
  display: flex;
  width: 100%;
}

.navmenu {
  padding-left: 2rem;
}
@media screen and (max-width: 960px) {
  .navmenu {
    display: none;
  }
}

.navmenu.active-menu-ps {
  display: none;
  transition: all 5s ease;
  opacity: 0;
  position: relative;
}

.navmenu .navmenu-ul {
  align-items: center;
  display: flex;
}

.menu-item {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  list-style-type: none;
  padding: 0px 12px;
  margin-right: 1.2rem;
}
.menu-item .menu-link {
  color: #17181A;
  text-decoration: none;
  text-transform: capitalize;
  transition: 200ms ease-in-out;
}
.menu-item .menu-link:hover {
  color: #0070CC;
}

.menu-item:last-child {
  margin-right: 0;
}

.fullpage-menu {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.fullpage-menu-inner {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .fullpage-menu-inner {
    padding: 20px 40px;
  }
}

.menu-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-bg span {
  height: 33.334%;
  width: 100%;
  background: #021E62;
  display: block;
  position: relative;
}

.menu-menu {
  position: relative;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-ul {
  list-style-type: none;
  max-width: 650px;
}

.menu-ul li {
  overflow: hidden;
  transition: transform 300ms ease-in-out 0s;
}

.menu-menu li + li {
  margin-top: 15px;
}

.menu-menu li span {
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
  color: #FCFEFF;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  line-height: 1.5;
}
@media screen and (max-width: 960px) {
  .menu-menu li span {
    font-size: 1rem;
  }
}

.span-date, .date {
  display: flex;
  flex-direction: row !important;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.8rem !important;
  padding-bottom: 10px;
}
@media screen and (max-width: 960px) {
  .span-date, .date {
    font-size: 1rem !important;
  }
}

.date {
  display: flex;
}

.span-info1 {
  margin-bottom: 15px;
  font-size: 2.5rem !important;
}

.ps-info {
  font-size: 1.3rem !important;
}

.logout {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  pointer-events: all;
}

.logout > span {
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 300 !important;
}
.logout > span:hover {
  color: #D4D7DC;
  transition: 0.6s ease;
}

.ps-symbols {
  padding-top: 20px;
}

.wave-bg {
  position: absolute;
  pointer-events: none;
  margin: 0 auto;
  width: 100vw;
  transform: translate(-4.2%, -25%);
  padding: 40px 0px;
  transform: scale(1.2);
}
@media screen and (max-width: 960px) {
  .wave-bg {
    transform: rotate(-145deg);
    width: 900px;
    top: 45%;
    left: -70%;
  }
}
.wave-bg svg {
  width: 100%;
}

.profile-1 {
  align-items: center;
  background: linear-gradient(287.56deg, #030A18 0%, #021E62 100%);
  border-radius: 17px;
  bottom: 20%;
  border: 1px solid #0070CC;
  cursor: pointer;
  display: none;
  opacity: 0;
  height: 120px;
  justify-content: center;
  position: absolute;
  right: 20%;
  width: 120px;
  z-index: 10;
}
.profile-1 .img-profile-1 {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 960px) {
  .profile-1 {
    height: 100px;
    right: 10%;
    width: 100px;
    border-radius: 20px;
    background: transparent;
  }
}
@media screen and (max-width: 540px) {
  .profile-1 {
    display: none;
  }
}
.profile-1:hover #id-profile {
  transform: translateY(260%);
  opacity: 1;
}
.profile-1 #id-profile {
  border: 1px solid #0070CC;
  background: rgba(0, 112, 204, 0.197);
  pointer-events: none;
  border-radius: 8px;
  color: #FCFEFF;
  position: absolute;
  padding: 5px 24px;
  font-family: "Heebo", sans-serif;
  transition: transform 300ms ease;
  transform: translateY(200%);
  opacity: 0;
}
.profile-1 #id-profile::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #0070CC;
  -webkit-clip-path: polygon(51% 34%, 0% 100%, 100% 100%);
          clip-path: polygon(51% 34%, 0% 100%, 100% 100%);
  top: -55%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu-bg {
  display: none;
  -webkit-animation: downmenu 0.4s ease-in-out forwards;
          animation: downmenu 0.4s ease-in-out forwards;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -10;
  box-shadow: 0px 30px 29px -30px rgba(0, 0, 0, 0.53);
}

.dropdown-menu {
  display: none;
  align-items: baseline;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;
  left: 0;
  position: absolute;
  width: 100vw;
  gap: 32px;
}

.dropdown-item {
  display: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  width: 180px;
  height: 180px;
  transition: 0.4s ease;
  border-radius: 3px;
  -webkit-animation: showfade 1s ease-in-out forwards;
          animation: showfade 1s ease-in-out forwards;
}
.dropdown-item:hover {
  box-shadow: 0px 0px 8px 1px rgba(23, 24, 26, 0.22);
}

.dropdown-menu-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  text-transform: capitalize;
  color: #17181A;
}
.dropdown-menu-link span {
  margin-top: 8px;
  position: relative;
  padding: 4px 15px;
}
.dropdown-menu-link span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 50%;
  transform: translate(-50%, -60%);
  background-color: #0070CC;
  left: 0;
}

.active-dropdown-menu {
  display: block;
}

.active-blue-color {
  color: #0070CC !important;
}

#wave1 {
  -webkit-animation: waves 5s ease infinite alternate;
          animation: waves 5s ease infinite alternate;
}

#wave2 {
  -webkit-animation: waves 5s ease infinite 1s alternate;
          animation: waves 5s ease infinite 1s alternate;
}

#wave3 {
  -webkit-animation: waves 4s ease infinite 2s alternate;
          animation: waves 4s ease infinite 2s alternate;
}

#wave4 {
  -webkit-animation: waves 6s ease infinite 3s alternate;
          animation: waves 6s ease infinite 3s alternate;
}

#wave5 {
  -webkit-animation: waves 5s ease infinite 5s alternate;
          animation: waves 5s ease infinite 5s alternate;
}

@-webkit-keyframes waves {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    transform: translate3d(300px, 0, 0);
  }
}

@keyframes waves {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    transform: translate3d(300px, 0, 0);
  }
}
@-webkit-keyframes showfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes downmenu {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
    background-color: #FCFEFF;
  }
}
@keyframes downmenu {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
    background-color: #FCFEFF;
  }
}
@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.ps-logo {
  fill: #0070CC;
  transition: all 300ms ease;
}

.ps-logo.active {
  fill: #FCFEFF;
}

.logout-icon {
  cursor: pointer;
  padding-right: 15px;
  width: 15px;
}

.arrow-icon {
  position: relative;
}
.arrow-icon:hover::before {
  top: 35%;
}
.arrow-icon::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: transparent;
  right: -15px;
  top: 30%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  border-right: 3px solid #818389;
  border-bottom: 3px solid #818389;
  transition: 200ms ease-in-out;
}

.arrow-icon.active-arrow::before {
  transition: 0.9s ease;
  transform: rotate(226deg);
  top: 40%;
}

.dropdown-menu-icon {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */